.body{
    background-color:rgb(238, 224, 224);
    color:antiquewhite;
    height:100vh;
    
}

h1{
    color:aliceblue;font-family: 'Playfair Display', serif;
}

.leaderelement{
    background-color: azure;
    margin:1rem;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    padding:2rem;
    font-size:1.4rem;
    font-family: 'Playfair Display', serif;

}
.username,.email,.score,.progress{
    color:white;
    font-size:2rem;font-family: 'Playfair Display', serif;
}

.row{
    padding:4rem;
    margin:2rem;
    
    background-color: rgba(127, 255, 212, 0.418);
}
.row:nth-child(odd){
    background-color: rgba(163, 165, 175, 0.253);
}

.leader{
    background-image: url("../images/leader.jpg");
    
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    height:auto
}

body{
    background-image: url("../images/leader.jpg");
    
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    height:100vh

}
.headings{
    background-color:rgba(240, 248, 255, 0.521)
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&display=swap');
.login{
    background-image:url("../images/front.jpeg");
    background-size:contain;
    height:auto;
    width:100vw;
    background-position:center;
    background-repeat: no-repeat;
    background-position: center;
    height:100vh;
    font-family: 'Playfair Display', serif;
}

.logoname{
    font-size:3rem;
    color:rgb(43, 126, 165);
    font-weight:bolder;
    display:flex;
    flex-direction: row;
    
}


.logos{
    margin-top:15rem;
    background-color:rgba(250, 235, 215, 0.192);
   
}

.loginname{
    font-size:3rem
}
.logo{
    color:rgba(0, 0, 0, 0.418)
}



.rules{
    background-image:url("../images/rule.jpg");
    
    background-position: center center;
    height:auto;
    background-repeat:no-repeat
    

}

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,300&family=Playfair+Display:ital,wght@1,700&display=swap');
.rule{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:2rem;
    color:aliceblue;
    font-size:1.6rem;
    font-family: 'Kanit', sans-serif;
}
.rule li{
    margin:2rem;
}

.rules{
    color:rgb(37, 170, 211);
    margin:1rem;
    font-size:2rem;
    background-color:rgba(0, 0, 0, 0.678);
    background-image:url("https://see.fontimg.com/api/renderfont4/EaGOl/eyJyIjoiZnMiLCJoIjo2NSwidyI6MTAwMCwiZnMiOjY1LCJmZ2MiOiIjMDAwMDAwIiwiYmdjIjoiI0ZGRkZGRiIsInQiOjF9/UlVMRUJPT0s/wolfpack-halloweed.png")
}

.buttonrule{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.buttonrule button{
    padding:1.3rem;
    font-family: 'Kanit', sans-serif;
    background-color:rgb(104, 187, 108);
    color:aliceblue;
    outline:none;
    border:none;
    
}
.date{
margin:1.2rem;
font-family: 'Kanit', sans-serif;
color:rgb(104, 187, 108);
}
.header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    
    width:90vw;
    margin:1rem

}


.side{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    gap:2rem;

}

.s img{
    height:2rem;


    
}
.s1 img{
    height:3rem
}
.s2 img{
    height:3rem
}